<% const site = require('config/site') %><!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta httpEquiv="Cache-Control" content="no-siteapp" />
    <meta httpEquiv="Cache-Control" content="no-transform" />
    <meta httpEquiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
    <meta name="distribution" content="web" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="applicable-device" content="pc, mobile" />
    <meta property="og:locale" content="zh_CN" />
    <meta property="og:site_name" content="<%= site.title %>" />
    <meta property="twitter:site" content="<%= site.title %>" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<%= site.assets %>ie/index.js?v=<%= process.env.version %>"></script>
    <![endif]-->
  </head>
  <body>
    <!--vue-ssr-outlet-->
    <script type="text/javascript" src="<%= site.assets %>vue/index.js?v=<%= process.env.version %>" async></script>
  </body>
</html>
