<% const site = require('config/site') %><?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
       <title><%= site.title %> - <%= site.description %></title>
       <link><%= ctx.request.protocol %>:<%= site.uri %></link>
       <description><%= site.description %></description>
       <lastBuildDate><%= (results.length ? results[0].createdAt.toUTCString() : (new Date('1970-01-02')).toUTCString()) %></lastBuildDate>
       <atom:link href="<%= ctx.request.protocol %>:<%= site.uri %>/?view=rss" rel="self" />
       <language>zh-CN</language>
       <% results.forEach(function(post) { %>
           <item>
               <title><%= post.title %></title>
               <link><%= ctx.request.protocol %>:<%= site.uri + post.uri %></link>
               <pubDate><%= post.createdAt.toUTCString() %></pubDate>
               <guid><%= ctx.request.protocol %>:<%= site.uri + post.uri %></guid>
               <% post.tags.forEach(function(tag) { %>
                    <%if (tag && tag.names && tag.names.length) { %>
                        <category><%= tag.names[0] %></category>
                    <% }  %>
                <% }); %>
                <description>
                    <%= post.excerpt %>
                    <%= '<p><a href="'+ ctx.request.protocol + ':' + site.uri + post.uri +'">继续阅读 »</a></p>' %>
                </description>
           </item>
       <% }); %>
   </channel>
</rss>
