<!DOCTYPE html>
<html lang="zh-CN" prefix="og:http://ogp.me/ns<%= !meta['og:type'] || ['article', 'profile', 'book', 'video', 'website', 'music'].indexOf(meta['og:type']) == -1 ? ''  : '/' + meta['og:type']  %>#" <%= meta.itemscope ? 'itemscope' : '' %> <%  if (meta.itemtype) { %>itemtype="<%= meta.itemtype %>"<% }  %>>
<head>
    <meta charset="utf-8" />
    <title><%= meta.title ? meta.title.join(' - ') : '' %></title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
    <meta name="distribution" content="web"  readonly="true" />
    <meta name="renderer" content="webkit"  readonly="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  readonly="true" />
    <meta name="msapplication-tap-highlight" content="no"  readonly="true" />
    <meta name="fragment" content="!" readonly="true" />
    <meta name="applicable-device" content="pc, mobile"  readonly="true" />
    <meta property="og:locale" content="zh_CN"  readonly="true" />
    <meta property="og:site_name" content="<%= __CONFIG__.site.title %>"  readonly="true" />
    <meta property="twitter:site" content="<%= __CONFIG__.site.title %>"  readonly="true" />
    <%
    var htmlEncode = function(value) {
        return String(value).replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/'/g, "&apos;").replace(/"/g, "&quot;")
    };

    var getHeaders = function(name, value) {
        var results = []
        var result
        if (['title', 'itemscope', 'itemtype'].indexOf(name) != -1) {
          return results
        }
        if (value instanceof Array) {
            if (value.length == 0) {
                return;
            }
            if (value[0] instanceof Object) {
                for (var i = 0; i < value.length; i++) {
                    results = results.concat(getHeaders(name, value[i]));
                }
                return results
            }
            value = value.join(',');
        }
        if (name.indexOf('rel:') == 0) {
            name = name.substr(4);
            if (value instanceof Object) {
                result = '<' + 'link rel="' + name +'"';
                for (var attribute in value) {
                    result += ' ' + attribute + '="'+ htmlEncode(value[attribute]) + '"'
                }
                result += ' />'
                results.push(result)
            } else {
                results.push('<link rel="'+ name +'" href="'+ htmlEncode(value) +'" />')
            }
        } else {
            if (name.indexOf('itemprop:') == 0) {
                name = name.substr(9);
                var attribute = 'itemprop';
            } else {
                var attribute = name.indexOf(':') == -1 || name.indexOf('twitter:') == 0 ? 'name' : 'property'
            }
            results.push('<meta '+ attribute +'="'+ name +'" content="'+ htmlEncode(value) +'" />')
        }
        return results
    };


    var headers = [];
    for (var name in meta) {
        headers = headers.concat(getHeaders(name, meta[name]))
    }
    %>
    <% headers.forEach(function(header) { %>
    <%- header %><%});%>

    <link rel="shortcut icon" href="<%= ctx.request.protocol %>://<%= ctx.request.host %>/favicon.ico" readonly="true" />
    <link rel="icon" sizes="196x196" href="<%= ctx.request.protocol %>://<%= ctx.request.host %>/icon-196.png" readonly="true" />
    <link rel="profile" href="http://gmpg.org/xfn/11" readonly="true" />

    <%
    /*

    <!--各种格式-->
    <link rel="alternate" type="text/html" href="http://www.xml.com/pub/a/2004/05/19/deviant.html"/> .
    <link rel="alternate" type="application/rss+xml"  href="/.rss" title="RSS 2.0" />
    <link rel="alternate" type="application/atom+xml" href="/.atom" title="ATOM" />


    <!--关联的-->
    <link rel="related" type="text/html" href="http://www.w3.org/2004/03/w3c-track04.html" title="WWW2004 W3C Track schedule" />

    <!--下一个 上一个-->
    <link rel="prev" type="application/atom+xml" href="http://diveintomark.org/xml/2004/05/index.atom" title="May 2004 archives"/>
    <link rel="next" type="application/atom+xml" href="http://diveintomark.org/xml/2004/05/index.atom" title="May 2004 archives"/>
    */
    %>


    <link rel="stylesheet" type="text/css"  media="all" href="<%= __CONFIG__.site.assets %>/html/bundle.css?v=<%= __CONFIG__.version %>" readonly="true" />


    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css"  media="all" href="<%= __CONFIG__.site.assets %>/html/ie.css?v=<%= __CONFIG__.version %>" readonly="true" />
    <script type="text/javascript" src="<%= __CONFIG__.site.assets %>/html/ie.js?v=<%= __CONFIG__.version %>"></script>
    <![endif]-->
</head>
<body>
    <div id="app"><%- html %></div>
    <script type="text/javascript">
        window.__REDUX_STATE__ = <%- JSON.stringify(reduxState).replace(/(<\s*\/?\s*scr)(ipt)/ig, '$1"+"$2') %>;
        window.__COMPONENTS_STATE__ = <%- JSON.stringify(componentsState).replace(/(<\s*\/?\s*scr)(ipt)/ig, '$1"+"$2') %>;
    </script>
    <script type="text/javascript" src="<%= __CONFIG__.site.assets %>/html/bundle.js?v=<%= __CONFIG__.version %>" async></script>
</body>
</html>
